/* ************font links********** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

 /* **********************common utilities***************** */
*{
    margin: 0;
    padding:0;
}
body{
 font-family:'Poppins', sans-serif;
 
}
/* *************************header section********** */
.head-title{
    margin: 40px 5% 0px 150px;
    font-size: 28px;
    font-weight: 700px;
    color:  #3A3A3A;
    
}

/* ********************top section************************* */
.top-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
.banner-title{
    width: 582px;
    margin-right: 133px;
    color:#3A3A3A;
    
}
.banner-title h1{
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 0;
}


.booking-button{
    text-decoration: none;
    color: aliceblue;
    background-color:  #E02C6D;
    padding: 10px 30px;
    border-radius: 41px;
   position: relative;
   top: 35px;
   right:2px;
   transition: 0.4s linear 0.3ms;
}
.fa-arrow-right{
    font-size: 16px;
}
 .booking-button:hover{
     box-shadow:1px 4px 35px 1px  #e02c6eb4;
     ;
    font-size: 17px;
 }
.top-banner img{
    width: 440px;
    transition: 3s transform ease 0.3s;
    
  
}
.top-banner img:hover{
    transform:  scale(1.2) rotate(-360deg) ;
}
hr{
    
    border: 1px solid 
    lightgray;
    margin: 0 auto;
}

/******************collection product**********************/

.product-head-title{
    margin: 3%;
    text-align: center;
    font-weight: 600px;
    font-size: 30px;
    color:  #3A3A3A;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.collection-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 50px 0px;
}
.porduct-box{
 background-color:  #FFFFFF;
 box-shadow:0px 4px 29px 0px lightgray ;
 padding: 4%;
 border-radius: 10px;
}
.porduct-box img{
    width: 99%;
}
.product-name{
    font-weight: 500;
    font-size: 28px;
    color:#18191F;
    margin: 10px 0px;  
}
.product-price{
    font-weight: 400;
    font-size: 24px;
    color:#000000DE;
    margin: 6px 0px;
}

/********** font awsome star *****/
.rating-icon{
    font-size: 16px;   
    color: #FB8200;
}

.product-rating{
    margin: 0px 5px;
    color: #5E6366;
    font-weight: 700;
    font-size: 14px;
}
.product-info{
    color:#787885;
    font-weight: 700;
    font-size: 14px;
    margin: 10px 0px;
    
}


/* ***********************see more button*************** */
.click{
    color:#E02C6D ;
    text-decoration: none;
    position: relative;
    left: 92%;
    font-weight: 700;
    font-size: 16px;
} 
/************************************* upcoming product section ****************************/
.upcomming-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.upcomming-product img{
    width: 500px;
    margin-right: 2%;
    position: relative;
    top: 30px;
}
.upcomming-product h1{
    color: 000000DE;
    font-size: 40px;
    font-weight: bold;
  
   
}
.New-product-details p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(87, 84, 84);
}
.new-arrivel-section{
    
    margin-bottom: 5%;
    border-radius: 40px;

}


/* ************************footer section****************** */
footer{
    width: 100%;
    height: 50%;
    background-color:  #0A0826;
    color:  #FFFFFF;
    text-align: center;
    
}
.footer-title{
    font-weight: 700;
    font-size: 30px;
    padding-top: 50px;
    color: #E02C6D;
}
.copyright-text{
    color: lightgray;
    font-weight:400;
    font-size: 14px;
    padding: 6px;
}
.fab-icon a{
    text-decoration: none;
    margin: 10px 5px;
    font-size: 32px;
}
/***********************icon colour *******************/
#insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;      
     background-clip: text;
    -webkit-text-fill-color: transparent;   
  }
#dribble{
color: #444444 ;
}
#twitter{
color: #00acee;
}
#youtube{
color: #FF0000;
}

 /******************************************** media quary **************
 ***********************************************/
@media only screen and (max-width:688px) {
 .container{
     width: 50%;
 }
 .head-title{
     width: 100%;
     align-items: center;
     margin: 0;
 }
    .top-banner{
       
        flex-direction: column-reverse;
         flex-wrap: wrap;     
         
  }
   .banner-title{
     width: 90%;
  }
  .banner-title h1{
      font-size: 30px;
      word-wrap: break-word;
  }
  .top-banner img{
      width: 80%;
  }

  .collection-items{
      grid-template-columns: repeat(1,1fr);
      flex-wrap: wrap;
  }
  
  footer{
      width: 412px;
  }
} 